.link {
  text-decoration: none;
  color: black;
}
.moon .fas-fa-moon {
  margin-top: 120px;
  margin-left: 74px;
}

.dark-mode {
  margin-left: 1274px;
  margin-top: -56px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
.moonn {
  margin-right: 4px;
}
.content {
  margin-top: -100px;
  width: 100%;
  margin-left: 0px;
  height: 70px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.text {
  margin-top: 120px;
  margin-left: 74px;
  font-size: 30px;
}
h1 {
  margin-top: 50px;
  font-size: 30px;
}
.conteiner {
  width: 100%;
  margin-bottom: 2em;
}

.grid {
  display: grid;
  grid-row-gap: 1em;
}
.border-item {
  padding: 0.5em 2em;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: inline-flex;
  margin-bottom: 15px;
  background: var(--white);
  color: var(--black);
}

@media screen and (min-width: 1024px) {
  .conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 120px;
    margin-top: 5em;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
.borders {
  display: inline-flex;
  margin-right: 1em;
  margin-top: 3.5em;
}
.detalles {
  margin-top: 60px;
  margin-left: 780px;
  flex-direction: row;
  width: 60%;
}
.imagen {
  margin-left: 170px;
  margin-top: 60px;
  position: absolute;
  width: 550px;
  height: 400px;
  box-shadow: 2px 4px 60px 4px rgba(0, 0, 0, 0.1);
}
.backs {
  position: absolute;
  width: 200px;
}
.back {
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  outline: 0;
  color: var(--black);
  background: var(--white);
  text-decoration: none;
  height: 30px;
  margin-top: -40px;
  margin-left: 150px;
  position: absolute;
  cursor: pointer;
}
